<div id="applicationHost">
    <div class="splash">
        <div class="message">
            Durandal Starter Kit
        </div>
        <i class="fa fa-spinner fa-spin"></i>
    </div>
</div>

<script src="/bower_components/requirejs/require.js" data-main="app/main"></script>
<!--<script src="app/main-built.js"></script>-->
